<!--    
<div class="row">
    <div class="col-xs-12  col-sm-2 col-md-2 col-lg-2 ">
        <img src="../../../assets/Img/perfil.jpg" class="img-fluid">
    </div>
    <div class="col-xs-12  col-sm-2 col-md-2 col-lg-2 ">
        <h1>Miguel Alfredo Grippo</h1>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12  col-sm-2 col-md-2 col-lg-8 ">
        <h1>Acerca de mi</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores sint dicta iure expedita! Odio ad, cumque ullam enim assumenda obcaecati aut ex dolor sint impedit dicta tenetur nisi ipsa eos.</p>
    </div>
</div>
-->
<div class="container-fluid">
    <div class="row" id="main-row">
        <div class="col-2">
            <img src="../../../assets/Img/perfil.jpg" class="img-fluid">
            <h1 style="margin-top: 20px;">Miguel Alfredo Grippo</h1>
            <p>Full Stack Developer Jr</p>
        </div>
        <div class="col-1"></div>
        <div class="col-9">
            <h1 style="margin-top: 30px;">Acerca de mi</h1>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, beatae quaerat asperiores rem id neque ut quas officiis voluptatum iure porro ipsam distinctio temporibus doloremque, quisquam repudiandae laudantium sequi veritatis.</span>
        </div>
    </div>
</div>
