
<div class="row">
    <div class="col-xs-12  col-sm-2 col-md-2 col-lg-2 ">
        <img src="../../../assets/Img/perfil.jpg" class="img-fluid">
    </div>
    <div class="col-xs-12  col-sm-2 col-md-2 col-lg-2 ">
        <h1>Miguel Alfredo Grippo</h1>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12  col-sm-2 col-md-2 col-lg-8 ">
        <h1>Acerca de mi</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores sint dicta iure expedita! Odio ad, cumque ullam enim assumenda obcaecati aut ex dolor sint impedit dicta tenetur nisi ipsa eos.</p>
    </div>
</div>
