<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-5">
  
                <h2 class="fw-bold mb-2">Nuevo Skill</h2>
                <form #f="ngForm" (ngSubmit)="onCreate()" novalidate>
                        
                    <div class="container">
                        <div style="margin-top: 50px;">
                            <h4>{{nombre}}</h4>

                            <circle-progress
                            [imageSrc]="img"
                            [showImage]="true"
                            [imageHeight]="100"
                            [imageWidth]="100"
                            [percent]="porcentaje"
                            [radius]="100"
                            [outerStrokeWidth]="8"
                            [innerStrokeWidth]="4"
                            [outerStrokeColor]="outerColor"
                            [innerStrokeColor]="innerColor"
                            [animation]="true"
                            [animationDuration]="1000">

                            </circle-progress>
                        </div>
                        

                        <div style="margin-top: 50px;">
                            <div class="row">
                                <div class="col-mb-4">
                                <div class="mb-4 " form-gruop>
                                    <label class="form-label">Nombre</label>
                                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required/>
                                </div>
                                </div>
                            </div>                          
                            <div class="row">
                                <div class="col-mb-4">
                                    <div class="mb-4 " form-gruop>
                                        <label class="form-label">Porcentaje</label>
                                        <input type="text" class="form-control" id="porcentaje" name="porcentaje" [(ngModel)]="porcentaje" required/>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="colorPicker">
                                <div class="col-6">
                                    <label class="form-label">Color Exterior</label>
                                    <input style="width: 50px;" [(colorPicker)]="outerColor" [style.background]="outerColor" />
                                </div>
                                <div class="col-6">
                                    <label class="form-label">Color Interior</label>
                                    <input style="width: 50px;" [(colorPicker)]="innerColor" [style.background]="innerColor" />
                                </div>
                                <div class="row">
                                    <div class="col-mb-4">
                                        <div class="mb-4 " form-gruop>
                                            <label class="form-label">Imagen</label>
                                            <input type="file" class="form-control" id="img" name="img" [(ngModel)]="img"
                                            (change)="onAction($event)" accept=".png, .jpg, .jpeg"/>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                        </div>       
                       
                        <div style="margin-top: 20px;">
                            <div class="row">
                                <button class="btn btn-outline-light btn-lg px-5" type="submit">Terminar</button>
                            </div>  
                        </div>        
                    
                    </div>  
                </form>
             </div>
            </div>

        </div>
      </div>
     </div>
    </div>
</section>
 