.row{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}
.col-4{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.container-fluid{
    margin-top: 10px;
    margin-bottom: 200px;
    border-radius: 10px;
    border: thick double black;
    background-color: rgba(151, 150, 148, 0.429);
    justify-content: stretch;
}