<div class="container-fluid">
    <div class="row">
        <h1>Hard & Soft Skills</h1>
    </div>

    <div class="row">
       <div class="col-4">
        <circle-progress
        [imageSrc]="'../../../assets/Img/logos-skills/html.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [percent]="85"
        [radius]="100"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#e3a56b'"
        [innerStrokeColor]="'#e3c77b'"
        [animation]="true"
        [animationDuration]="300">
        </circle-progress>
       </div>

       <div class="col-4">
        <circle-progress
        [imageSrc]="'../../../assets/Img/logos-skills/css.png'"
        [showImage]="true"
        [imageHeight]="110"
        [imageWidth]="90"
        [percent]="85"
        [radius]="100"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#0055a2'"
        [innerStrokeColor]="'#4d87db'"
        [animation]="true"
        [animationDuration]="300">
        </circle-progress>
       </div>

       <div class="col-4">
        <circle-progress
        [imageSrc]="'../../../assets/Img/logos-skills/js.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="90"
        [percent]="85"
        [radius]="100"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#afb140'"
        [innerStrokeColor]="'#d7d764'"
        [animation]="true"
        [animationDuration]="300">
        </circle-progress>
       </div>
    </div>

    <div class="row">
       <div class="col-4">
        <circle-progress
        [imageSrc]="'../../../assets/Img/logos-skills/c.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="90"
        [percent]="85"
        [radius]="100"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#514080'"
        [innerStrokeColor]="'#9780c7'"
        [animation]="true"
        [animationDuration]="300">
        </circle-progress>
       </div>

       <div class="col-4">
        <circle-progress
        [imageSrc]="'../../../assets/Img/logos-skills/idioma.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="90"
        [percent]="85"
        [radius]="100"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#0a47a7'"
        [innerStrokeColor]="'#a41409'"
        [animation]="true"
        [animationDuration]="300">
        </circle-progress>
       </div>

       <div class="col-4">
        <circle-progress
        [imageSrc]="'../../../assets/Img/logos-skills/teamwork.png'"
        [showImage]="true"
        [imageHeight]="200"
        [imageWidth]="300"
        [percent]="85"
        [radius]="100"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#b42544'"
        [innerStrokeColor]="'#40a5e6'"
        [animation]="true"
        [animationDuration]="300">
        </circle-progress>
       </div>

    </div>
</div>
