<div class="container-fluid">
    <app-sup-header></app-sup-header>
    <app-banner></app-banner>
    <app-about></app-about>
    <app-experience></app-experience>
    <app-education></app-education>
    <div>
      <circle-progress
        [percent]="85"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300">
       </circle-progress>
    </div>
</div>