#right{
    margin-top: 10px;
    height: 90px;
}
#left{
    margin-top: 10px;
    height: 90px;
    width: 150px;
}
#main-row{
    display: flex;
    background-color:#bdb8ad;
    height: 100px;
    justify-content: space-between;
}
#sub-row{
    display: flex;
    justify-content: space-between;
}


