<div class="container-fluid">

    <div class="row1">
        <div class="col-11" >
            <h1>Experiencia</h1>
        </div>
        <div class="col-1" id="expBtn">
            <button class="btn btn-outline-light" *ngIf="isLogged" routerLink="/new-exp">Agregar</button>
        </div>

    </div>
    
    <ul style="list-style: none;">
        <li *ngFor="let item of listaExperiencia">
            <div class="row2">
                
                <div class="col-2" id="imgContainer">
                    <img
                        *ngIf="item.img == 'null'"  
                        src="../../../assets/Img/img_notFound.png" 
                    >
                    <img
                        *ngIf="item.img !== 'null'"  
                        [src]="item.img" 
                    >
                </div>

                <div class="col-9">
                    <h2>{{item.nombre_trabajo}}</h2>
                    <h4>{{item.nombre_compania}}</h4>
                    <h4>Desde: <time>{{item.fecha_inicio}}</time> - <time>Hasta: {{item.fecha_fin}}</time></h4>
                    <p>{{item.descripcion}}</p>
                </div>
                <div class="col-1">
                    <h1>Aca va algo</h1>
                </div>
            </div>
        </li>
    </ul>
 


</div>
